.CreatingPageWrap {
    height: 100%;
    min-height: 30em;
    padding: 10em 0em;
    flex-flow: row wrap;
    align-items: stretch;
}

.CreatingForm {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px; 
    padding: 1em; 
    background:#FFFFFF;
}

.CreatingTitleInput {
    -moz-appearance: none;
    appearance: none;
    padding: 1em;
    background: #000000;
    color: #ffffff;
    font-size: 27px;
}

.CreatingDescrTextarea {
    -moz-appearance: none;
    appearance: none;
    padding: 1em;
    border: none;
    background: #000000;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.CreatingQuestionSelectDiv {
    display: flex;
    flex-direction: column;
}

.CreatingQuestionsSelectInput {
    width: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 60px;
    padding: 0.5em;
    border: none;
    background: #000000;
    font-size: 18px;
    color: #ffffff;
    margin: 10px auto;
}
.CreatingQuestionsSelectInput:hover {
    cursor: pointer;
}