.CompletingPageWrap {
    height: 100%;
    min-height: 45em;
    padding: 10em 0em;
    flex-flow: row wrap;
    align-items: stretch;
}

.CompletingForm {
    height: 1000px;
    overflow-y: scroll;
    text-align: center;
    margin: 0 auto;
    max-width: 650px; 
    width: 80%; 
    padding: 5em;
    border:10px solid;
    border-color: #8B0000; 
    background:#FFFFFF;
}