.MainHeader {
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 250px 16px;
    color: #fff;
    background-color: #8B0000;
}

.MainHeaderH {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin: 16px;
    font-size: 64px;
}

.MainHeaderText {
    font-size: 24px;
}

.MainDescrFirstWrap {
    background: #DAA520;
    padding-top: 64px;
    padding-bottom: 64px;
    padding: 0.01em 16px;
}

.MainDescrFirstContent {
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.MainDescrFirstDiv {
    margin: 2em 1em;
}

.MainDescrFirstDiv h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 400; 
}

.MainDescrFirstDiv h5 {
    padding: 32px 0;
    font-weight: 400; 
    margin: 10px 0;
    font-size: 18px;
}

.MainDescrFirstIconDiv {
    margin: auto;
}

.MainDescrFirstIcon {
    text-rendering: auto;
    text-align: center;
    font-size: 200px;
    color: #8B0000;
    padding-top: 64px;
    padding-bottom: 64px;
}

.FeaturesSection {
  background-color: #8B0000;
  margin-top: -50px;
}

.FeaturesHeaderSection {
  padding-bottom: 50px;
  text-align: center;
}

.FeaturesHeaderSection h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  color: #ffffff;
  font-weight: 700;
  line-height: 48px;
  padding-top: 2em;
  margin-bottom: 24px;
}

.FeaturesHeaderSection p {
  font-family: 'Open Sans', sans-serif;
  color: #DAA520;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 16px;
}

.FeaturesContainer {
  padding-bottom: 165px;
  padding-left: 12em;
  display: flex;
  justify-content: center;
}

.Features {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FeaturesItem {
  margin-top: 25px;
  width: 50%;
}

.FeaturesIcon {
  box-sizing: border-box;
  max-width: 100%;
  width: 103px;
  height: 103px;
}

.FeaturesItem:nth-child(1) .FeaturesIcon {
  background: url(../../assets/swords.png);
}

.FeaturesItem:nth-child(2) .FeaturesIcon {
  background: url(../../assets/castle.png);
}

.FeaturesItem:nth-child(3) .FeaturesIcon {
  background: url(../../assets/crown.png);
}

.FeaturesItem:nth-child(4) .FeaturesIcon {
  background: url(../../assets/ship.png);
}

.FeaturesItem h2 {
  font-family: 'Open Sans', sans-serif;
  color: #DAA520;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.FeaturesItem p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1400px) {
  .FeaturesItem {
    width: 50%;
  }
}

@media only screen and (max-width: 1050px) {
  .FeaturesContainer {
    padding-left: 2em;
  }

  .FeaturesItem {
    width: 100%;
  }

  .FeaturesItem h2 {
    font-size: 19px;
  }
}

@media (max-width: 601px) {
  .MainDescrFirstContent {
      flex-direction: column;
  }

  .MainHeaderH {
    font-size: 48px;
  }
}