.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.LoginInputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.LoginInputElement:focus {
    outline: none;
    background-color: #ccc;
}

.TitleInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    padding: 0.5em;
    border: none;
    background: #000000;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
}

.DescrTextarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 180px;
    width: 100%;
    padding: 0.5em;
    border: none;
    background: #000000;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}


.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}