.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}

@media (min-width: 650px) {
    .NavigationItems {
        flex-flow: row;
    }
}