.CompletingPageWrap {
    height: 100%;
    min-height: 35em;
    padding: 10em 0em;
    flex-flow: row wrap;
    align-items: stretch;
}

.CompletingForm {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1em;
    background: #FFFFFF;
}

.CompletingTitle h1 {
       -moz-appearance: none;
       appearance: none;
       padding: 0.5em;
       background: #000000;
       font-size: 32px;
       color: #ffffff;
       font-size: 56px;
}

.CompletingDescr p {
    -moz-appearance: none;
    appearance: none;
    padding: 1.3em;
    border: none;
    font-size: 129px;
    background: #000000;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.QuizzDoneWrap {
    margin-top: 5em;
}

.QuizzDoneWrap span {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 25px;
    width: 60%;
    border: none;
    background: #DAA520;
    font-size: 22px;
    color: #ffffff;
}